<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logIn</title>
    <link rel="stylesheet" href="style.css">
    <script src="/src/view/script.js" ></script>
</head>
<body>
   <h1 class="heading">Log in form </h1>
   <form class="user-content" >
    <div class="container">
        <label><b>User Name</b> </label>
        <input type="text" id="username" name="uname" placeholder="Enter User Name">
        
        <label><b>Password</b></label>
        <input type="password" id="password" name="psw" placeholder="Enter Password">
        <button type="submit" onclick="logIn()" >Log In</button>
    </div>
   </form>
</body>
</html>